*{
 word-wrap: break-word;
}
html, body {
  padding: 0;
  margin: 0;
  font-size:16px;
  background-color: #fafdfb;
}
html{
  font-size: 16px;
  font-size: 85%;
}
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: 0 0;
}

body{
  background-color: #fafdfb;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Nunito', 'Segoe UI', arial;
  color: #6c757d;
}
address, blockquote, button, input, select, textarea {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #555;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}
ul,ol{
  list-style: none;
}

/* Start admin Page */

.navbar {
  height: 60px;
  left: 280px;
  right: 0px;
  position: fixed;
  z-index: 890;
  background: #ffffff;
  transition: width 0.25s ease;
  -webkit-transition: width 0.25s ease;
  border-bottom: 1px solid #e3e3e3;
}
p, ul:not(.list-unstyled), ol {
    line-height: 28px;
}
.navbar .nav-link {
  color: #000;
  padding-left: 15px !important;
  padding-right: 15px !important;
 position: relative;
}
.navbar .nav-link.nav-link-lg i {
  margin-left: 0 !important;
  font-size: 18px;
  line-height: 32px;
}
.dropdown-menu {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.03);
  border: none;
  width: 200px;
  margin-top: 5px;
}
.dropdown-list {
  width: 350px;
  padding: 0;
}
.dropdown-list .dropdown-footer a, .dropdown-list .dropdown-header a {
  font-weight: 600;
}
.dropdown-list .dropdown-list-content {
  max-height: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}
.dropdown-list .dropdown-item.dropdown-item-unread {
  background-color: #fbfbfb;
  border-bottom-color: #f2f2f2;
}
.dropdown-list .dropdown-list-icons .dropdown-item {
  display: flex;
}
.dropdown-list .dropdown-item {
  display: inline-block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 13px;
  border-bottom: 1px solid #f9f9f9;
}
a.dropdown-item {
  padding: 10px 20px;
  font-weight: 500;
  line-height: 1.2;
}
.dropdown-menu a {
  font-size: 13px;
}
.dropdown-list .dropdown-list-icons .dropdown-item .dropdown-item-icon {
  flex-shrink: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 42px;
  text-align: center;
}
.dropdown-list .dropdown-list-icons .dropdown-item .dropdown-item-icon i {
  margin: 0;
}
.dropdown-list .dropdown-item .dropdown-item-desc {
  line-height: 24px;
  white-space: normal;
  color: #34395e;
  margin-left: 60px;
}
.dropdown-list .dropdown-list-icons .dropdown-item .dropdown-item-desc {
  margin-left: 15px;
  line-height: 20px;
}
.dropdown-list .dropdown-item .time {
  margin-top: 10px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .5px;
}
.dropdown-list .dropdown-list-icons .dropdown-item .dropdown-item-desc .time {
  margin-top: 5px;
}
.dropdown-list .dropdown-footer, .dropdown-list .dropdown-header {
  letter-spacing: .5px;
  font-weight: 600;
  padding: 15px;
}
/**/
.navbar .nav-link.nav-link-user {
  /*color: #fff;*/
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 600;
}
.navbar .nav-link.nav-link-user img {
  width: 30px;
}
img {
  vertical-align: middle;
  border-style: none;
}
.navbar .nav-link.nav-link-lg div {
  margin-top: 3px;
}
.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.dropdown-menu.show {
  display: block !important;
}
.dropdown-menu .dropdown-title {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1.5px;
  font-weight: 700;
  color: #191d21 !important;
  padding: 10px 20px;
  line-height: 20px;
  color: #98a6ad;
}
.dropdown-item.has-icon i {
  margin-top: -1px;
  font-size: 13px;
}
.btn.btn-icon-split i, .dropdown-item.has-icon i {
  text-align: center;
  width: 15px;
  font-size: 15px;
  float: left;
  margin-right: 10px;
}
.beep:after {
  content: '';
  position: absolute;
  top: 2px;
  right: 8px;
  width: 7px;
  height: 7px;
  background-color: #ffa426;
  border-radius: 50%;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 1;
}
/* 4.5 Animation */
.pulsate {
animation: pulsate 1s ease-out;
animation-iteration-count: infinite;
opacity: 1; }

@-webkit-keyframes pulsate {
0% {
  -webkit-transform: scale(0.1, 0.1);
  opacity: 0.0; }
50% {
  opacity: 1.0; }
100% {
  -webkit-transform: scale(1.2, 1.2);
  opacity: 0.0; } 
}
/**/
.main-sidebar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
  position: fixed;
  height: 100%;
  width: 280px;
  background: #2f3d46;
  z-index: 880;
  left: 0;
}
.main-sidebar, .navbar, .main-content, .main-footer {
  transition: all .5s;
}
.main-sidebar .sidebar-brand {
  display: inline-block;
  width: 100%;
  height: 60px;
  line-height: 50px;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 30px;
  border-right: 1px solid #e3e3e3;
}
.sidebar-mini .main-sidebar .sidebar-brand{text-align: center;padding-left: 0;}
.main-sidebar .sidebar-brand a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 700;
  color: #fff;
}
.sidebar-mini .collapse{
  padding: 5px 0;
  z-index: 9999;
  display: none;
  background-color: #fff;
}
/**/
.main-sidebar .sidebar-menu {
  padding: 0;
  margin: 0;
}
.main-sidebar .sidebar-menu li{
  /*border-bottom: 1px solid #e5e5e5;*/
}
a:not(.btn-social-icon):not(.btn-social):not(.page-link) .ion, a:not(.btn-social-icon):not(.btn-social):not(.page-link) .fas, a:not(.btn-social-icon):not(.btn-social):not(.page-link) .far, a:not(.btn-social-icon):not(.btn-social):not(.page-link) .fal, a:not(.btn-social-icon):not(.btn-social):not(.page-link) .fab {
  margin-left: 4px;
  font-size: 16px;
}
.main-sidebar .sidebar-menu li a {
  position: relative;
  display: flex;
  align-items: center;
  padding: .625rem 1.5rem !important;
  width: 100%;
  letter-spacing: .3px;
  color: #ACB6C4;
  text-decoration: none;
}
.main-sidebar .sidebar-menu li a i {
  width: 28px;
  margin-right: 20px;
  text-align: center;
}
.main-sidebar .sidebar-menu li a span {
  width: 100%;
}
.sidebar-item.active .nav-link:hover, .sidebar-item.active>.nav-link {
  background: #091023;
  color: #fff !important;
}
#sidebar-wrapper{
}
.main-sidebar .sidebar-brand.sidebar-brand-sm {
    display: none;
}
li.sidebar-item-new.active .nav-link {
  color: #fff!important;
}
.sidebar-item.active{background: #091023;}
/**/
@media (max-width: 1024px){
  .navbar .navbar-nav {
    flex-direction: row;
  }
}

@media (max-width: 1024px){
.main-sidebar {
    position: fixed !important;
    margin-top: 0 !important;
    z-index: 891;
}
}
@media (max-width: 1024px){
.navbar {
    left: 0;
    right: 0;
}
}
@media (max-width: 576px){
.d-sm-none {
    display: none!important;
}
}
@media (max-width: 1024px){
.navbar .dropdown-menu {
    position: absolute;
}
}
@media (max-width: 1024px){
.navbar-expand-lg .navbar-nav .dropdown-menu-right {
    right: 0;
    left: auto;
}
}
@media (max-width: 575.98px){
.dropdown-list-toggle {
    position: static;
}
}
@media (max-width: 575.98px){
.dropdown-list-toggle .dropdown-list {
    left: 10px !important;
    width: calc(100% - 20px);
}
}
@media (max-width: 1024px){
.navbar-expand-lg .navbar-nav .dropdown-menu-right {
    right: 0;
    left: auto;
}
}
@media (max-width: 320px){
  .navbar{
    position: sticky
  }
}
@media (max-width: 1024px){
  body.sidebar-show:before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    z-index: 891;
    -webkit-animation-name: fadeinbackdrop;
    animation-name: fadeinbackdrop;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
}
@-webkit-keyframes fadeinbackdrop {
  to {
    opacity: .6; 
  }
}
@keyframes fadeinbackdrop {
  to {
    opacity: .6; 
  }
}
body.sidebar-gone .main-sidebar {
  left: -280px;
}
/**/
body.sidebar-mini .main-sidebar {
  width: 65px;
  overflow: initial !important;
  position: absolute;
  box-shadow: none;
}
body.sidebar-mini .main-sidebar .sidebar-brand {
  display: none;
}
body.sidebar-mini .main-sidebar .sidebar-brand-sm {
  display: block;
}
body.sidebar-mini .main-sidebar .sidebar-menu > li {
  padding: 10px;
}
body.sidebar-mini .main-sidebar .sidebar-menu > li.menu-header {
  padding: 0;
  font-size: 0;
  height: 2px;
}
body.sidebar-mini .main-sidebar .sidebar-menu > li > a span {
  display: none;
}
body.sidebar-mini .main-sidebar .sidebar-menu > li > a .ion, body.sidebar-mini .main-sidebar .sidebar-menu > li > a .fas, body.sidebar-mini .main-sidebar .sidebar-menu > li > a .far, body.sidebar-mini .main-sidebar .sidebar-menu > li > a .fab, body.sidebar-mini .main-sidebar .sidebar-menu > li > a .fal,body.sidebar-mini .main-sidebar .sidebar-menu i {
  margin: 0;
  font-size: 20px;
}
body.sidebar-mini .main-sidebar .sidebar-menu > li.active > a {
  box-shadow: 0 4px 8px #acb5f6;
  background-color: #6777ef;
  color: #fff;
}
body.sidebar-mini .main-sidebar .sidebar-menu > li > a {
  border-radius: 3px;
  height: 45px;
  padding: 0;
  justify-content: center;
}
body.sidebar-mini .navbar {
  left: 65px;
}
body.sidebar-mini .main-sidebar .sidebar-brand{
  line-height: 60px;
}
.card{
}
.page-wrapper{
}
@media (max-width: 1024px){
  .right-panel{
    margin-left: 0 !important;
  }
}
.page-wrapper table thead tr th{
  padding: 10px
}
.page-wrapper table tbody tr td{
  padding: 10px
}
body.sidebar-mini .right-panel{
  margin-left: 50px;
}
.page-wrapper table tbody tr td span{
  padding: 7px;
  font-size: 12px;
}
.page-wrapper .pagination li a.page-link {
  padding: 10px
}
.page-wrapper .card-header{
  padding: 1.3rem;
}
.dataTables_length label {
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
}
.dataTables_length select {
  width: auto;
  display: inline-block;
}
.dataTables_filter {
  text-align: right;
}
.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
}
.dataTables_filter label {
  display: inline-block;
  margin-bottom: 1.2rem;
}
.dataTables_info {
  padding-top: 0.85em;
}
.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
  justify-content: flex-end;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #4e73df;
  border-color: #4e73df;
}
.page-wrapper table tbody tr td .btn-circle {
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.page-wrapper table tbody tr td .btn-warning {
  color: #fff;
  background-color: #f6c23e;
  border-color: #f6c23e;
}
.page-wrapper table tbody tr td .btn-circle.btn-sm, .page-wrapper table tbody tr td .btn-group-sm>.btn-circle.btn {
  font-size: .85rem;
}
.card td a{
  /*color: #333;*/
}
.card td a:hover{
  color: red;
}

@media screen and (max-width: 767px){
  .dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate {
    text-align: center;
  }
}
label {
    display: inline-block;
    margin-bottom: 1rem;
}
@media screen and (max-width: 803px){
  td button{
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px){
  .dataTables_paginate ul.pagination {
    justify-content: center !important;
  }
}
/**/
.stat-widget-five {
  min-height: 60px;
}
.stat-widget-five .stat-icon {
  font-size: 50px;
  line-height: 50px;
  position: absolute;
  left: 30px;
  top: 20px;
}
.dib {
  display: inline-block;
}
.flat-color-1 {
  color: #00c292;
}
.stat-widget-five .stat-content {
  margin-left: 100px;
  padding-top: 10px;
}
.stat-widget-five .stat-text {
  color: #455a64;
  font-size: 20px;
  padding-bottom: 5px;
}
.stat-widget-five .stat-heading {
  color: #99abb4;
  font-size: 14px;
}
.card1{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 10px;
  margin-top: 10px;
}
.card-body{
  padding: 15px
}
/* End admin Page */
aside.left-panel {
  padding: 0;
  vertical-align: top;
  width: 280px;
  position: fixed;
  left: 0;
  z-index: 9999;
}
.right-panel {
  background: #f1f2f7;
  margin-left: 280px;
}
.content {
  float: left;
  padding: 1.875em;
  width: 100%;
  margin-top: 55px;
}
.container-fluid{
  padding: 0 !important
}
.table-bordered thead td, .table-bordered thead th{
  padding: 10px;
}
.table-bordered td{
  padding: 10px;
}
.badge{
  padding: 5px;
}